DEBUG=True
SECRET_KEY=change-me
DATABASE_NAME=datainc
DATABASE_USER=datainc
DATABASE_PASSWORD=datainc
DATABASE_HOST=postgres
DATABASE_PORT=5432
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0